@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700);
* {
  box-sizing: border-box; }

body {
  background: whiteSmoke;
  font-family: 'Roboto', arial, helvetica, sans-serif; }

.spinner {
  padding-top: 50px; }
  .spinner p {
    color: #5d5d5d;
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    /*span {
      display:block; 
      width:100%;
      text-align:center;
      font-size:24px; 
      font-weight: 400; 
    }*/ }

@-webkit-keyframes Roll {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg); } }

@-ms-keyframes Roll {
  0% {
    -ms-transform: rotate(0deg); }

  100% {
    -ms-transform: rotate(359deg); } }

@-o-keyframes Roll {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(359deg); } }

@-moz-keyframes Roll {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg); } }

@keyframes Roll {
  0% {
    -transform: rotate(0deg); }

  100% {
    -transform: rotate(359deg); } }

#loading {
  display: block;
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(45, 45, 45, 0.2);
  border-radius: 50%;
  border-top-color: #919191;
  -webkit-animation: Roll 1s infinite linear;
  -moz-animation: Roll 1s infinite linear;
  -o-animation: Roll 1s infinite linear;
  -ms-animation: Roll 1s infinite linear; }

.search {
  display: none;
  opacity: 0;
  padding: 27px 20px 40px; }
  .search.visible {
    display: block; }

tr {
  border-color: gray;
  background: white;
  -webkit-transition: background .2s linear; }
  tr.odd {
    background: #f8f8f8; }
    tr.odd:hover {
      background: lightYellow; }
  tr.added {
    background: #def5d5; }
  tr:focus, tr:hover {
    background: lightYellow; }

table {
  opacity: 0; }

thead tr {
  background: white !important; }

td {
  position: relative;
  max-width: 120px;
  font-size: 0.9em;
  overflow: hidden;
  border-color: #ebebeb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4d4d4d; }
  td i {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer; }
    td i.fa-plus-circle {
      color: #78d552; }
      td i.fa-plus-circle:focus, td i.fa-plus-circle:hover {
        color: #59c02f; }
    td i.fa-times-circle {
      color: #d14e42; }
      td i.fa-times-circle:focus, td i.fa-times-circle:hover {
        color: #b0362b; }

a.add-toggle {
  display: block; }

.fa-eye-slash {
  color: #b84237; }

.sort-icon {
  display: inline;
  padding: 0 3px;
  height: 26px;
  vertical-align: top;
  line-height: 26px !important; }

.more-content {
  cursor: pointer; }

.td-excerpt a {
  display: block; }
  .td-excerpt a i {
    font-size: 12px; }

#pagination-footer {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear; }
  #pagination-footer.hidden {
    display: none;
    opacity: 0; }
  #pagination-footer.visible {
    display: block;
    opacity: 1; }
