* {
  box-sizing: border-box; }

.search {
  margin: 27px 0; }

table, .search {
  padding: 0 20px; }

tr {
  border-color: gray;
  background: white;
  -webkit-transition: background .2s linear; }
  tr.odd {
    background: #f8f8f8; }
    tr.odd:hover {
      background: lightYellow; }
  tr.added {
    background: #def5d5; }
  tr:focus, tr:hover {
    background: lightYellow; }

td {
  position: relative;
  max-width: 120px;
  font-size: 0.9em;
  overflow: hidden;
  border-color: #ebebeb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4d4d4d; }
  td i {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer; }
    td i.fa-plus-circle {
      color: #78d552; }
      td i.fa-plus-circle:focus, td i.fa-plus-circle:hover {
        color: #59c02f; }
    td i.fa-times-circle {
      color: #d14e42; }
      td i.fa-times-circle:focus, td i.fa-times-circle:hover {
        color: #b0362b; }

a.add-toggle {
  display: block; }
